.container{
    width: 70px;
    margin:auto;
    text-align:center;
    display:inline;
}
.dice{
    text-align:center;
    display:flex;
    margin: 10px;
    padding-left: 20px;
}

body{
    background-color: #042f4b;
    margin: 0;
}

h1{
    margin: 30px;
    font-family: "lobster",cursive;
    text-shadow: 5px 0#232931;
    font-size: 6;
    color: #4ecca3;
    text-align: center;

}

p{
    font-size: 2rem;
    color: #4ecca3;
    font-family: "indie flower",cursive;
}

img{
    width: 100px;
}

.bottom{
    padding-top: 30px;
}
.butn{

    background-color: #4ecca3;
    font-family: "indie flower",cursive;
    border-radius: 7%;
    color: #ffff;
    font-size: 20px;
    padding: 16px 30px;
    text-decoration: none;
    padding-right: 25px;
    display: inline;


}
.butn:hover{
    background-color: #232931;
    text-decoration: none;
}

.containerbottom{
    display:inline;
    margin: 50px 20px;
}